*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

img,
picture {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
}

input,
button,
textarea,
select {
    font: inherit;
}

html:focus-within {
    scroll-behavior: smooth;
}

:target {
    scroll-margin-block: 5ex;
}

textarea:not([rows]) {
    min-height: 10em;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}



:root {
    --black: #1E1E1E;
    --gray: #878585;
    --green: #07603E;
    --bg: #FAF4EA;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg);
    font-family: Inter;
}

.content-grid {
    display: grid;
    grid-template-columns: [full-width-start] 7% [content-start] 1fr [content-end] 7% [full-width-end];
}

.content-grid>* {
    grid-column: content;
}

.content-grid>.full-width {
    grid-column: full-width-start / full-width-end;
}

header {
    background: rgba(250, 244, 234, 0.75);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

nav>ul {
    display: flex;
    align-items: center;
    gap: 6%;
    height: 4rem;
}

.nav__li {
    list-style: none;
    overflow: hidden;
    position: relative;
}

.nav__li:not(.nav__li-hero)::before {
    content: "";
    width: 100%;
    height: 3.5px;
    background-color: var(--green);
    position: absolute;
    bottom: 2px;
    overflow-x: hidden;
    transform: translate(125%, 0);
    transition: transform 200ms;
}

.nav__li:hover::before {
    transform: translate(0, 0);
}

.nav__li-hero {
    margin-right: auto;
}

.nav__link {
    text-decoration: none;
    color: var(--black);
    font-size: 1.5rem;
    font-weight: 300;
}

.nav__link-hero {
    font-weight: bold;
    font-size: 2.4rem;
}

@media (max-width: 830px) {
    .nav__li:not(.nav__li-hero) {
        display: none;
    }
}

.hero__img {
    margin-top: 1rem;
    width: 100%;
    border-radius: 15px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.hero__content {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    align-items: center;
    margin-block: 5%;
    position: relative;
}

.hero__content::after {
    content: url(../assets/hero_line.svg);
    position: absolute;
    right: 3rem;
    z-index: -1;
    transform: translateX(1rem);
}

.hero__text {
    font-size: clamp(1.5rem, 3vw, 3rem);
    width: 55%;
    position: relative;
    padding-left: 1em;
}

.hero__text::before {
    content: "";
    height: 130%;
    width: 0.2em;
    background-color: var(--green);
    top: -15%;
    left: 0.5rem;
    position: absolute;
}

.hero__button {
    background-color: var(--green);
    color: var(--bg);
    border: none;
    border-radius: 10px;
    height: 2.5em;
    width: auto;
    max-width: 100%;
    transition: background-color 90ms ease-in-out;
    font-size: clamp(1rem, 2vw, 2rem);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.hero__button:hover,
.hero__button:focus {
    background-color: var(--black);
}

.hero__link {
    text-decoration: none;
    color: inherit;
    font-size: clamp(1rem, 2.5vw, 2rem);
    padding-inline: 1.25em;
}

.about-us {
    background-color: var(--green);
}